node_modules/
npm-debug.log*

dist/
out/
build/

.DS_Store
Thumbs.db
*.log

.vscode/
.idea/
*.swp
*.swo

*.tmp
.env
deploy.sh
.env.local
sync-to-gitea.sh
pregress.md
.runner
runner
nastavak.md
deployment.md
etherx browser.md
nastavak.md
pregress.md
changelog.md
.env.local
.env.development
.env.production
.env.test
.env.staging
.env.*.local
*.env
*sync-to-gitea.sh
*deploy.sh
*.md
